<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>   
     <title>login</title>
</head>
<body class="home">
    <div class="container ">
        <div class="card text-center m-5">
            <div class="card-body ">
                <h1><span class="bi bi-person-fill"></span>Login or register</h1>
                <a href="/login" class="btn btn-light">
                    <span class="bi bi-person-fill">Local login</span>
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="bi bi-person-fill">Local Signup</span>
                </a>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>